<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes" >Recipes</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth">Authenticate</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li><a style="cursor: pointer; margin-left: 310px;" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;" *ngIf="isAuthenticated">
        <li class="dropdown">
          <div class="btn-group" appDropdown>
            <button
              type="button"
              class="btn btn-primary dropdown-toggle">
              Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li (click)="onSaveData()"><a>Save Data</a></li>
              <li (click)="onFetchData()"><a>Fetch Data</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
